<div class="content-wrapper">
    <header class="controls">
        
        <select name="" class="change-map">
            <option value="de_dust2">Dust 2</option>
            <option value="de_train">Train</option>
            <option value="de_aztec">Aztec</option>            
        </select>

        <button class="clear-canvas">Clear Paths</button>

        <button class="save-canvas">Save Image</button>

        <a href="#" style="display:none;" target="_blank"></a>

    </header>

    <div class="canvas-container">
        <div class="players">
            <ul>
                <li><button class="player-1" data-color="64FF4F"></button></li>
                <li><button class="player-2" data-color="4FDFFF"></button></li>
                <li><button class="player-3" data-color="754FFF"></button></li>
                <li><button class="player-4" data-color="FF4FDF"></button></li>
                <li><button class="player-5" data-color="FF0000"></button></li>
            </ul>
        </div>

        <canvas id="map">

        </canvas>

    </div><!-- end canvas-container -->
</div><!-- end content-wrapper -->