<div class="content-wrapper">
    <header class="controls">
        
        <select name="" class="change-map">
            <option value="de_dust2">Dust 2</option>
            <option value="de_train">Train</option>
            <option value="de_aztec">Aztec</option>            
        </select>

    </header>

    <canvas id="map">

    </canvas>
</div><!-- end content-wrapper -->