<div class="content-wrapper">
    <header class="controls">
        
        <select name="" class="change-map">
            <option value="de_dust2">Dust 2</option>
            <option value="de_train">Train</option>
            <option value="de_aztec">Aztec</option>            
        </select>

        <button class="clear-canvas">Clear Paths</button>

        <button class="save-canvas">Save Image</button>

        <a href="#" style="display:none;"></a>

    </header>

    <canvas id="map">

    </canvas>

    <div class="data-url" style="display:none;">
        <textarea></textarea>
    </div>
</div><!-- end content-wrapper -->