/* Last Updated: 2-2014
   Author:  Chris "vDis-"
           
   ----------------------------------------------------*/

/* =GENERAL
   ----------------------------------------------------*/
  * {
  	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  }
   
body {
	background: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #202020;
}

a {
	color: red;
	text-decoration: underline;
	
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

a:hover {
	color: #000;
}

a:active {
	color: #000;
    outline: 0 none;
}

a:focus {
	color: #fff;
    outline: 0 none;
}

strong {font-weight: bold;}
em {font-style: italic;}

.error {font-weight: bold}
.clear {clear: both;}

/* --------------------------------------------------
	Start Layout
----------------------------------------------------*/

header {
display: block;
height: 72px;
padding: 20px 20px 0;
background: rgb(238,238,238); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */	
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.content-wrapper {
	width: 1024px;
	margin: 0 auto;
}

.canvas-container {
	position: relative;
}

header.controls {
	width: 100%;
	margin-top: 50px;
}

select {
	width: 100px;
	padding: 5px;
}

button {
	height: 30px;
	cursor: pointer
}

button.save-canvas {
	float: right;
}

.players {
	position: absolute;
	top: 102px;
	left: 80px;
	z-index: 999;
}

ul li {
	list-style: none;
}

.players button {
	height: 12px;
	width: 10px;
	margin-bottom: 6px;
	border: 0;
	outline: 0;
}

.player-1 { background: #64FF4F;}
.player-2 { background: #4FDFFF;}
.player-3 { background: #754FFF;}
.player-4 { background: #FF4FDF;}
.player-5 { background: #FF0000;}